<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/" method="post">
      <input type="text" name="input" placeholder="input your word">
      <button type="submit" name="button">submit</button>
    </form>
  </body>
</html>
